@model SchoolLibrary.DTO.StudentDto
@{
    
}

<h2> @ViewBag.Title</h2>

<div>
    @using (Html.BeginForm("SaveStudent", "Student", FormMethod.Post))
    {
        <div class="row" style="@(Model.Id>0?"display:block":"display:none")" >
            @Html.LabelFor(x => x.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayTextFor(x => x.Id)
                @Html.HiddenFor(x => x.Id)
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(x => x.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(x => x.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(x => x.Identification, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Identification, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Identification, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(x => x.Program, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Program, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Program, "", new { @class = "text-danger" })
            </div>
        </div>




        <input type="submit" value="Save" />
    }


</div>


